#rodaPe{
    background-color: #46a693;
    text-align: center;
    font-family: fantasy;
}
.botao {
    cursor: pointer;
    background-color: purple;
    color: white;
    border: none;
    padding: 10px 10px;
    display: inline-block;
    font-family: serif;
    font-size: 17px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.4s;
}
.botao li {
  display: inline-block;
  font-size: 20px;
  float: left;
}

.botao:hover {
  background-color: #22a88e;
}
.botao:focus {
    outline: none;
}
.botao button {
    display: inline-block;
}