body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* PARTE REFERENTE AO MENU*/
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: #f5f5f5;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

.logo span {
  font-size: 18px;
  font-weight: bold;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
.menu a {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.menu a:hover {
  color: #f63d3d;
  text-decoration: underline;
}

.menu .botao {
  margin-left: 10px;
  color: #f63d3d;
  border-color: #f63d3d;
  text-decoration: none;
}

.menu .botao:hover {
  text-decoration: none;
  color: white;
  background-color: #f63d3d;
}

/****************** HOME *******************/

/*CORPO CENTRAL DO HOME*/
img {
  max-width: 100%;
  display: block;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 20px;
  display: flex;
  /* grid-template-columns: 2fr 1fr; */
  gap: 100px;
}

.container h1 {
  /* color: rgba(55, 54, 54, 0.389); */
  color: #0d0d0d;
  line-height: 1.1;
  /* font-size: 2.5rem; */
  font-size: 3rem;
  font-weight: bold;
}

.container img {
  margin: 20px auto;
  max-width: 80%;
  height: auto;
}

/*TOP CATEGORIAS INDEX*/
.container-categorias {
  text-align: center;
}
.container-categorias h2 {
  font-size: 2.5rem;
}
.container-categorias span {
  color: #f63d3d;
}
.top-categorias {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.categorias {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 40px;
  transition: 0.25s;
}
.categorias:hover {
  transition: 0.25s;
  transform: scale(1.05);
}
.categorias h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}
.categorias img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.25s;
}

.categorias:nth-child(even) h6 {
  background-color: #cdebbc;
}

/*FORMULARIO INDEX*/

form {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 60px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
form h2 span {
  color: #f63d3d;
}
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="phone"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #f63d3d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/******************* AGENDAMENTO ***************/

/*QUEM SOMOS*/
.container-conteudo {
  text-align: center;
  flex-wrap: wrap;
  padding: 5%;
  gap: 50;
  margin-bottom: 60px;
}

.container-conteudo h2 {
  font-size: 2.5rem;
  text-align: center;
}
.container-conteudo span {
  color: #f63d3d;
}

.container-conteudo img {
  max-width: 25%;
  background-color: whitesmoke;
  border-radius: 8px;
  margin: 0 auto;
  height: auto;

  box-shadow: -30px 30px #f63d3d;
}
.conteudo {
  gap: 20px;
}

.conteudo-contato {
  display: flex;
  flex-wrap: wrap;
}

.container-conteudo p {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.1;
  padding: 10px;
  padding-left: 40px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/*NOSSOS SERVIÇOS*/

.container-servicos {
  text-align: center;
  margin-bottom: 120px;
}

.container-servicos h2 {
  font-size: 2.5rem;
}
.container-servicos span {
  color: #f63d3d;
}

.servicos {
  display: flex;
  /* flex: 33%; */
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}
.servicos img {
  width: 250px;
  height: 150px;
  background: transparent;
  border: 2px solid #f63d3d;
  border-radius: 8px;
  padding: 10px;
  transition: 0.25s;
}
.servicos img:hover {
  transition: 0.25s;
  transform: scale(1.05);
}
.servicos-texto {
  font-size: 1.4rem;
  font-weight: 600;
}

/*tabela agendamento*/

.container-tabela {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.container-tabela h2 {
  font-size: 2.5rem;
  text-align: center;
}
.container-tabela span {
  color: #f63d3d;
}
table,
tr,
td,
th {
  border-collapse: collapse;
  border: 1px solid rgb(194, 190, 190);
}

th {
  height: 30px;
  color: #f63d3d;
}

th:first-child {
  border-left: 1px solid white;
  border-top: 1px solid white;
}

td:nth-child(1) {
  text-align: left;
}

td {
  max-width: 250px;
  padding: 20px 10px;
  text-align: center;
}

/*form agendamento*/
.agendamento span {
  color: #f63d3d;
}
.container-agendamento {
  max-width: 100%;
  margin: 0 auto;
  padding: 10%;
}
.container-agendamento span {
  color: #f63d3d;
}
.agendamento {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 60px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#agendamento-img {
  display: none;
}

.form-group-agendamento {
  margin-bottom: 20px;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
}

/*footer*/
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  margin-top: 20px;
  background-color: whitesmoke;
}

footer nav a {
  text-decoration: none;
  margin-right: 20px;
  color: black;
  font-size: 20px;
  font-weight: 500;
}
.instagram:hover {
  color: #e95950;
}
.facebook:hover {
  color: #3b5998;
}
.youtube:hover {
  color: #ff0000;
}

footer p {
  color: rgba(55, 54, 54, 0.389);
  margin-top: 10px;
}

@media (max-width: 750px) {
  header {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  header img {
    margin-left: 55px;
  }
  header a {
    border-radius: 4px;
  }
}

@media (max-width: 750px) {
  .conteudo img {
    display: none;
  }
}
